.container-noticie {
    display: flex;
    background-color: whitesmoke;
    width: 1320px;
    height: 230px;
    border-radius: 20px;

}

.container-text {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

.text-categorie {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;

}

.text-title {
    font-size: 32px;
    margin: 0;
}

.text-resume{
    font-size: 24px;
}


.image {
    width: 220px;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}