@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.container-line {
    display: flex;
    gap: 20px;
}

.image-timeline {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
}

.container-info {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.container-title {
    gap: 10px;
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}

.description {
    white-space: normal;
    word-wrap: break-word;
    font-family: 'Poppins', sans-serif;
}