.container-days {
  display: flex;
  flex-direction: column;
  width: 1300px;
  gap: 10px;
}


.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

}

.img-button {
  width: 10px;
  height: 10px;
  object-fit: cover;
}



.nav-button {
  background-color: #f5f5f5;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 50px;
}


.nav-button:hover {
  background-color: #e0e0e0;
}

.date-label {
  font-weight: 600;
  font-size: 1.1rem;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;


}

.line {
  width: 100%;
  background-color: black;
}