.inscription-card {
    display: flex;
    width: 240px;
    position: relative;
    height: 320px;
}

.inscription-card img{
    width: 100%;
    border-radius: 20px;

}

.card-button{
  position: absolute; 
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.card-button button{
  color: white;
  border: none;
  cursor: pointer;
}