.container-profile{
    display: flex;
    align-items: center;
    flex-direction: column;
}


.image-profile{
    border-radius: 100%;
    object-fit: cover;
    
}

.image-profile.small{
    width: 6em;
    height: 6em;
}

.image-profile.medium{
    width: 12.5em;
    height: 12.5em;
}

.image-profile.large{
    width: 18.5em;
    height: 18.5em;
}

.name-host{
    font-size: 1.2em;
}